@media (max-width: 575.98px) {
    /* =================menu part start================= */
    #menu_bar .container button i{
        color: #fff;
    }
    #menu_bar .container .navbar-toggler {
        border: none;
    }
    #menu_bar .container .navbar-toggler:focus {
        box-shadow: none;
        outline: none;
    }
    #menu_bar .container .background_color {
        background-color: #353535;
        padding-bottom: 10px;
    }
    #menu_bar .container ul li a::after {
        display: none;
    }
    /* =================navbar part end================= */

    /* =================banner part start================= */
    #banner {
        padding-top: 160px;
        padding-bottom: 125px;
        clip-path: polygon(0 0, 100% 0, 100% 80%, 0 90%);
    }
    #banner .container .main {
        width: 280px;
    }
    /* =================banner part end================= */

    /* =================about part start================= */
    #about .container .main {
        padding-bottom: 0px;
    }
    #about .container .heading {
        width: 270px;
    }
    #about .container .row .text_1::before {
        display: none;
    }
    #about .container .row .text_1 .round_ball {
        display: none;
    }
    #about .container .row .text {
        box-shadow: 0px 2px 6px 1px #707678;
    }
    #about .container .row .text_2::before {
        display: none;
    }
    #about .container .row .text_2 .round_ball {
        display: none;
    }
    #about .container .row .text_3::before {
        display: none;
    }
    #about .container .row .text_4 .round_ball {
        display: none;
    }
    #about .container .row .text_4::before {
        display: none;
    }
    #about .container .row .text_3 .round_ball {
        display: none;
    }
    #about .container .row .round {
        width: 250px;
        height: 250px;
        margin: 30px auto;
    }
    #about .container .row .img {
        width: 230px;
        height: 230px;
    }
    #about .container .row .text_2 {
        text-align: center;
    }
    #about .container .row .text_3 {
        text-align: center;
    }
    /* =================about part end================= */
    
    /* =================portfolio part start================= */
    #portfolio .container .heading {
        width: 270px;
    }
    #portfolio {
        padding: 120px 0;
        clip-path: polygon(0 4%, 100% 2%, 100% 96%, 0 98%);
    }
    #portfolio::before {
        clip-path: polygon(0 4%, 100% 2%, 100% 96%, 0 98%);
    }
    #portfolio .container .images{
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }
    #portfolio .container .images .small_img {
        margin-bottom: 20px;
    }
    #portfolio .container .images .big_img {
        margin-bottom: 20px;
    }
    .margin_top {
        margin-top: 0px;
    }
    .margin_bottom {
        margin-top: 0px;
    }
    #portfolio .container .images .small_img a i{
        opacity: 1;
    }
    #portfolio .container .images .small_img::before{
        opacity: 1;
    }
    #portfolio .container .images .big_img a i{
        opacity: 1;
    }
    #portfolio .container .images .big_img::before{
        opacity: 1;
    }
    /* =================portfolio part end================= */
    
    /* =================service part start================= */
    #service .container .heading {
        width: 270px;
    }
    #service .container .row {
        margin-top: 15px;
    }
    #service .container .col-lg-5 .text {
        margin-top: 30px;
    }
    #service .container h3{
        position: absolute;
        top: 45px;
    }
    #service .container .main .slick-current .icon {
        position: absolute;
        top: 90px;
    }
    #service .container .col-lg-5 .text {
        margin-top: 180px;
    }
    #service .container .align_right .text::before {
        top: -18px;
        left: 50%;
        transform: translateX(-50%) rotate(45deg);
    }
    #service .container .align_left .text::before {
        top: -18px;
        left: 50%;
        transform: translateX(-50%) rotate(45deg);
    }
    #service .container .slider {
        padding-bottom: 15px;
    }
    #service .container .main .prev {
        bottom: 18px;
    }
    /* =================service part end================= */
    
    /* =================admin part start================= */
    #admin {
        padding-top: 120px;
        padding-bottom: 130px;
        clip-path: polygon(0 5%, 100% 0, 100% 95%, 0 100%);
    }
    #admin::before {
        clip-path: polygon(0 5%, 100% 0, 100% 95%, 0 100%);
    }
    #admin .col-lg-8 .item::before {
        top: -18px;
        left: 50%;
        transform: translateX(-50%) rotate(45deg);
    }
    #admin .col-lg-8 .item {
        padding: 25px 25px 60px 25px;
        margin-left: 0px;
    }
    #admin .col-lg-8 .item span.img {
        right: 30px;
        bottom: 27px;
    }
    #admin .col-lg-2 .next {
        left: 50%;
        transform: translateX(-50%);
    }
    #admin .col-lg-2 .prev {
        left: 50%;
        transform: translateX(-50%);
        bottom: -548px;
    }
    #admin .col-lg-8 .item {
        margin-top: 25px;
    }
    /* =================admin part end================= */
    
    /* =================pricing part start================= */
    #pricing{
        padding-top: 20px;
    }
    #pricing .container .heading {
        width: 270px;
    }
    #pricing .container .item {
        margin-bottom: 25px;
    }
    #pricing .container .item h4{
        background-color: #fec600;
        color: #111111;
    }
    /* =================pricing part end================= */
    
    /* =================counter up part start================= */
    #counter_up {
        clip-path: polygon(0 3%, 100% 0, 100% 97%, 0 100%);
    }
    #counter_up::before {
        clip-path: polygon(0 3%, 100% 0, 100% 97%, 0 100%);
    }
    #counter_up .main {
        flex-wrap: wrap;
    }
    #counter_up .main {
        padding: 20px 0 20px 0;
    }
    #counter_up .main .item {
        clip-path: none;
        transform: none;
    }
    #counter_up .main .item:first-child {
        margin-top: 0px;
        padding: 8px 7px;
        margin-bottom: 15px;
    }
    #counter_up .main .item.margin_top_2 {
        margin-top: 0px;
        margin-bottom: 15px;
        padding: 8px 7px;
    }
    #counter_up .main .item.margin_top_2 h3 {
        font-size: 19px;
    }
    #counter_up .main .item.margin_top_3 {
        margin-top: 0px;
        margin-bottom: 15px;
        padding: 8px 7px;
    }
    #counter_up .main .item.margin_top_4 {
        margin-bottom: 15px;
	    margin-top: 0px;
        padding: 8px 7px;
    }
    #counter_up .main .item:last-child {
        margin-bottom: 15px;
        margin-top: 0px;
        padding: 8px 7px;
    }
    /* =================counter up part end================= */
    
    /* =================team part start================= */
    #team .container .heading {
        width: 270px;
    }
    #team .container .main {
        padding-bottom: 10px;
    }
    #team .container .img_text {
        margin-bottom: 80px;
    }
    #team .container .img_text:last-child {
        margin-bottom: 0px;
    }
    #team .container .image_border .img_text{
        border-bottom: transparent;
    }
    #team .container .img_text{
        border-bottom: transparent;
    }
    #team .container .img_text .img i{
        opacity: 1;
    }
    #team .container .image_border .img_text .img::before{
        opacity: 1;
    }
    #team .container .image_border .icon{
        opacity: 1;
        bottom: -60px;
    }
    #team .container .icon a i{
        background-color: #fec600;
        border: 1px solid #fec600;
    }
    /* =================team part end================= */
    
    /* =================footer part start================= */
    #footer {
        clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 100%);
    }
    #footer .footer_top {
        clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 100%);
    }
    #footer .footer_top::before {
        transform: rotate(-7.7deg);
    }
    #footer .footer_top .container .heading .text i {
        margin: 30px 5px;
    }
    #footer .footer_top .container .item .text {
        margin-top: -10px;
        margin-bottom: 25px;
    }
    #footer .footer_top .container .heading .text {
        margin-top: -25px;
    }
    /* =================footer part end================= */
}

@media (min-width: 576px) and (max-width: 767.98px) {
    /* =================menu part start================= */
    #menu_bar .container button i{
        color: #fff;
    }
    #menu_bar .container .navbar-toggler {
        border: none;
    }
    #menu_bar .container .navbar-toggler:focus {
        box-shadow: none;
        outline: none;
    }
    #menu_bar .container .background_color {
        background-color: #353535;
        padding-bottom: 10px;
    }
    #menu_bar .container ul li a::after {
        display: none;
    }
    /* =================menu part end================= */
    
    /* =================banner part start================= */
    #banner {
        padding-top: 160px;
        padding-bottom: 125px;
        clip-path: polygon(0 0, 100% 0, 100% 80%, 0 90%);
    }
    #banner .container .main {
        width: 430px;
    }
    /* =================banner part end================= */
    
    /* =================about part start================= */
    #about .container .main {
        padding-bottom: 0px;
    }
    #about .container .heading {
        width: 425px;
    }
    #about .container .row .text_1::before {
        bottom: -10px;
        left: 91%;
        box-shadow: 6px 6px 6px -4px #707678;
    }
    #about .container .row .text_1 .round_ball {
        display: none;
    }
    #about .container .row .text {
        width: 98%;
        position: relative;
    }
    #about .container .row .text_2::before {
        top: 98.7%;
        right: 84%;
        box-shadow: 6px 6px 6px -4px #707678;
    }
    #about .container .row .text:hover .text_2::before {
        box-shadow: 6px 6px 6px -4px #707678;
    }
    #about .container .row .text_2 .round_ball {
        display: none;
    }
    #about .container .row .text_3::before {
        top: 2px;
        left: 83%;
        box-shadow: -3px -3px 6px -3px #707678;
    }
    #about .container .row .text_4 .round_ball {
        display: none;
    }
    #about .container .row .text_4::before {
        top: -12px;
        left: 10%;
        box-shadow: -3px -3px 6px -3px #707678;
    }
    #about .container .row .text_3 .round_ball {
        display: none;
    }
    #about .container .row .round {
        width: 250px;
        height: 250px;
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: -52%;
    }
    #about .container .row .img {
        width: 230px;
        height: 230px;
    }
    #about .container .row .text_1{
        box-shadow: 0px 2px 6px 1px #707678 !important;
        margin-bottom: 0px;
    }
    #about .container .row .text_2 {
        text-align: center;
        position: absolute;
        top: -383px;
        left: 275px;
        width: 100% !important;
        box-shadow: 0px 2px 6px 1px #707678 !important;
        margin-bottom: 0px;
    }
    #about .container .row .text_3{
        box-shadow: 0px 2px 6px 1px #707678 !important;
    }
    #about .container .row .text_4 {
        box-shadow: 0px 2px 6px 1px #707678 !important;
        position: absolute;
        top: -258px;
        left: 275px;
        width: 100% !important;
    }
    #about .container .row .text_3 {
        text-align: center;
    }
    /* =================about part end================= */
    
    /* =================portfolio part start================= */
    #portfolio .main {
        margin-bottom: -1380px;
    }
    #portfolio .container .heading {
        width: 425px;
    }
    #portfolio {
        padding: 120px 0;
        clip-path: polygon(0 4%, 100% 2%, 100% 96%, 0 98%);
    }
    #portfolio::before {
        clip-path: polygon(0 4%, 100% 2%, 100% 96%, 0 98%);
    }
    #portfolio .container .images .small_img {
        margin-bottom: 20px;
    }
    #portfolio .container .images .big_img {
        margin-bottom: 20px;
    }
    .margin_top {
        margin-top: 0px;
    }
    .margin_bottom {
        margin-top: 0px;
    }
    #portfolio .container .images .small_img a i{
        opacity: 1;
    }
    #portfolio .container .images .small_img::before{
        opacity: 1;
    }
    #portfolio .container .images .big_img a i{
        opacity: 1;
    }
    #portfolio .container .images .big_img::before{
        opacity: 1;
    }
    #portfolio .absolute_1{
        position: absolute;
        top: 0px;
        left: -20.5px;
    }
    #portfolio .absolute_2{
        position: absolute;
        top: -320px;
        right: -269px;
    }
    #portfolio .absolute_3 {
        position: absolute;
        top: -315px;
        right: -269px;
    }
    #portfolio .absolute_4 {
        position: absolute;
        top: -705px;
        left: -20.5px;
    }
    #portfolio .absolute_5 {
        position: absolute;
        top: -700px;
        right: -269px;
    }
    #portfolio .absolute_6 {
        position: absolute;
        top: -1090px;
        left: -20.5px;
    }
    #portfolio .absolute_7 {
        position: absolute;
        top: -1085px;
        left: -20.5px;
    }
    #portfolio .absolute_8 {
        position: absolute;
        top: -1405px;
        right: -269px;
    }
    /* =================portfolio part end================= */
    
    /* =================service part start================= */
    #service .container .heading {
        width: 425px;
    }
    #service .container .row {
        margin-top: 15px;
    }
    #service .container h3{
        position: absolute;
        top: 45px;
    }
    #service .container .main .slick-current .icon {
        position: absolute;
        top: 90px;
    }
    #service .container .col-lg-5 .text {
        margin-top: 180px;
    }
    #service .container .align_right .text::before {
        top: -18px;
        left: 50%;
        transform: translateX(-50%) rotate(45deg);
    }
    #service .container .align_left .text::before {
        top: -18px;
        left: 50%;
        transform: translateX(-50%) rotate(45deg);
    }
    #service .container .slider {
        padding-bottom: 15px;
    }
    #service .container .main .prev {
        bottom: 18px;
    }
    /* =================service part end================= */
    
    /* =================admin part start================= */
    #admin {
        padding-top: 120px;
        padding-bottom: 130px;
        clip-path: polygon(0 5%, 100% 0, 100% 95%, 0 100%);
    }
    #admin::before {
        clip-path: polygon(0 5%, 100% 0, 100% 95%, 0 100%);
    }
    #admin .col-lg-8 .item::before {
        top: -18px;
        left: 50%;
        transform: translateX(-50%) rotate(45deg);
    }
    #admin .col-lg-8 .item {
        padding: 25px 25px 60px 25px;
        margin-left: 0px;
    }
    #admin .col-lg-8 .item span.img {
        right: 30px;
        bottom: 27px;
    }
    #admin .col-lg-2 .next {
        left: 50%;
        transform: translateX(-50%);
    }
    #admin .col-lg-2 .prev {
        left: 50%;
        transform: translateX(-50%);
        bottom: -434px;
    }
    #admin .col-lg-8 .item {
        margin-top: 25px;
    }
    /* =================admin part end================= */
    
    /* =================pricing part start================= */
    #pricing{
        padding-top: 30px;
    }
    #pricing .container .heading {
        width: 425px;
    }
    #pricing .container .item {
        margin-bottom: 25px;
    }
    #pricing .container .item h4{
        background-color: #fec600;
        color: #111111;
    }
    /* =================pricing part end================= */
    
    /* =================counter up part start================= */
    #counter_up {
        clip-path: polygon(0 7%, 100% 0, 100% 93%, 0 100%);
    }
    #counter_up::before {
        clip-path: polygon(0 7%, 100% 0, 100% 93%, 0 100%);
    }
    #counter_up .main {
        flex-wrap: wrap;
    }
    #counter_up .main {
        padding: 20px 0 20px 0;
    }
    #counter_up .main .item {
        clip-path: none;
        transform: none;
    }
    #counter_up .main .item:first-child {
        margin-top: 0px;
        padding: 8px 15px;
        margin-bottom: 15px;
    }
    #counter_up .main .item.margin_top_2 {
        margin-top: 0px;
        margin-bottom: 15px;
        padding: 8px 15px;
    }
    #counter_up .main .item.margin_top_2 h3 {
        font-size: 19px;
    }
    #counter_up .main .item.margin_top_3 {
        margin-top: 0px;
        margin-bottom: 15px;
        padding: 8px 15px;
    }
    #counter_up .main .item.margin_top_4 {
        margin-bottom: 15px;
	    margin-top: 0px;
        padding: 8px 15px;
    }
    #counter_up .main .item:last-child {
        margin-bottom: 15px;
        margin-top: 0px;
        padding: 8px 15px;
    }
    /* =================counter up part end================= */
    
    /* =================team part start================= */
    #team {
        margin-top: 40px;
    }
    #team .container .heading {
        width: 425px;
        margin-top: 30px;
    }
    #team .container .main {
        padding-bottom: 10px;
    }
    #team .container .img_text {
        margin-bottom: 80px;
    }
    #team .container .img_text:last-child {
        margin-bottom: 0px;
    }
    #team .container .image_border .img_text{
        border-bottom: transparent;
    }
    #team .container .img_text{
        border-bottom: transparent;
    }
    #team .container .img_text .img i{
        opacity: 0;
    }
    #team .container .image_border .img_text .img::before{
        opacity: 0;
    }
    #team .container .image_border .icon{
        opacity: 1;
        bottom: -60px;
    }
    #team .container .icon a i{
        background-color: rgba(254, 199, 0, 0.7);
        border: 1px solid rgba(254, 199, 0, 0.7);
    }
    /* =================team part end================= */
    
    /* =================footer part start================= */
    #footer {
        clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 100%);
    }
    #footer .footer_top {
        clip-path: polygon(0 7%, 100% 0, 100% 100%, 0 100%);
    }
    #footer .footer_top::before {
        transform: rotate(-3.7deg);
    }
    #footer .footer_top .container .heading .text i {
        margin: 30px 15px;
    }
    #footer .footer_top .container .item .text {
        margin-top: -10px;
        margin-bottom: 35px;
    }
    #footer .footer_top .container .heading .text {
        margin-top: -25px;
    }
    /* =================footer part end================= */
}

@media (min-width: 768px) and (max-width: 991.98px) {
    /* =================navbar part start================= */
    #menu_bar .container button i{
        color: #fff;
    }
    #menu_bar .container .navbar-toggler {
        border: none;
    }
    #menu_bar .container .navbar-toggler:focus {
        box-shadow: none;
        outline: none;
    }
    #menu_bar .container .background_color {
        background-color: #353535;
        padding-bottom: 10px;
    }
    #menu_bar .container ul li a::after {
        display: none;
    }
    /* =================navbar part end================= */
    
    /* =================banner part start================= */
    #banner {
        padding-top: 170px;
        padding-bottom: 135px;
        clip-path: polygon(0 0, 100% 0, 100% 80%, 0 90%);
    }
    #banner .container .main {
        width: 480px;
    }
    /* =================banner part end================= */
    
    /* =================about part start================= */
    #about .container .heading {
        width: 480px;
    }
    #about .container .row .round {
        width: 210px;
        height: 210px;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }
    #about .container .row .img {
        width: 185px;
        height: 185px;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }
    #about .container .row .text_1 {
        padding: 25px 25px;
        box-shadow: 0px 2px 6px 1px #707678;
    }
    #about .container .row .text .text_1::before {
        box-shadow: 6px 6px 6px -4px #707678;
    }
    #about .container .row .text_2 {
        padding: 25px 25px;
        box-shadow: 0px 2px 6px 1px #707678;
    }
    #about .container .row .text .text_2::before {
        box-shadow: 6px -5px 6px -5px #707678;
    }
    #about .container .row .text_3 {
        padding: 25px 25px;
        box-shadow: 0px 2px 6px 1px #707678;
    }
    #about .container .row .text .text_3::before {
        box-shadow: -6px 6px 6px -5px #707678;
    }
    #about .container .row .text_4 {
        padding: 25px 25px;
        box-shadow: 0px 2px 6px 1px #707678;
    }
    #about .container .row .text .text_4::before {
        box-shadow: -3px -3px 6px -4px #707678;
    }
    #about .container .row .text_1 .round_ball {
        bottom: -38px;
        width: 15px;
        height: 15px;
    }
    #about .container .row .text_2 .round_ball {
        width: 15px;
        height: 15px;
    }
    #about .container .row .text_3 .round_ball {
        left: -35px;
        width: 15px;
        height: 15px;
    }
    #about .container .row .text_4 .round_ball {
        top: -38px;
        width: 15px;
        height: 15px;
    }
    /* =================about part end================= */   
    
    /* =================portfolio part start================= */
    #portfolio .container .heading {
        width: 480px;
    }
    #portfolio {
        padding: 120px 0;
        clip-path: polygon(0 4%, 100% 2%, 100% 96%, 0 98%);
    }
    #portfolio::before {
        clip-path: polygon(0 4%, 100% 2%, 100% 96%, 0 98%);
    }
    #portfolio .container .images .small_img {
        margin-bottom: 20px;
    }
    #portfolio .container .images .big_img {
        margin-bottom: 20px;
    }
    #portfolio .margin_top {
        margin-top: 0px;
    }
    #portfolio .margin_bottom {
        margin-top: 0px;
    }
    #portfolio .absolute_3 {
        top: 0px;
        left: 426px;
    }
    #portfolio .absolute_4 {
        top: -70px;
        right: 426px;
    }
    #portfolio .absolute_5 {
        top: -70px;
        left: 426px;
    }
    #portfolio .absolute_6 {
        top: -70px;
        right: 426px;
    }
    #portfolio .absolute_7 {
        top: -140px;
        left: 0px;
    }
    #portfolio .absolute_8 {
        top: -70px;
        right: 0px;
    }
    #portfolio .main{
        margin-bottom: -110px;
    }
    /* =================portfolio part end================= */
    
    /* =================service part start================= */
    #service .container .heading {
        width: 425px;
    }
    #service .container .row {
        margin-top: 15px;
    }
    #service .container h3{
        position: absolute;
        top: 45px;
    }
    #service .container .main .slick-current .icon {
        position: absolute;
        top: 90px;
    }
    #service .container .col-lg-5 .text {
        margin-top: 180px;
    }
    #service .container .align_right .text::before {
        top: -18px;
        left: 50%;
        transform: translateX(-50%) rotate(45deg);
    }
    #service .container .align_left .text::before {
        top: -18px;
        left: 50%;
        transform: translateX(-50%) rotate(45deg);
    }
    #service .container .slider {
        padding-bottom: 15px;
    }
    #service .container .main .prev {
        bottom: 18px;
    }
    /* =================service part end================= */
    
    /* =================admin part start================= */
    #admin {
        padding-top: 120px;
        padding-bottom: 130px;
        clip-path: polygon(0 5%, 100% 0, 100% 95%, 0 100%);
    }
    #admin::before {
        clip-path: polygon(0 5%, 100% 0, 100% 95%, 0 100%);
    }
    #admin .col-lg-8 .item::before {
        top: -18px;
        left: 50%;
        transform: translateX(-50%) rotate(45deg);
    }
    #admin .col-lg-8 .item {
        padding: 25px 25px 60px 25px;
        margin-left: 0px;
    }
    #admin .col-lg-8 .item span.img {
        right: 30px;
        bottom: 27px;
    }
    #admin .col-lg-2 .next {
        left: 50%;
        transform: translateX(-50%);
    }
    #admin .col-lg-2 .prev {
        left: 50%;
        transform: translateX(-50%);
        bottom: -434px;
    }
    #admin .col-lg-8 .item {
        margin-top: 25px;
    }
    /* =================admin part end================= */
    
    /* =================pricing part start================= */
    #pricing{
        padding-top: 30px;
    }
    #pricing .container .heading {
        width: 425px;
    }
    #pricing .container .item {
        margin-bottom: 25px;
    }
    #pricing .container .item h4{
        background-color: #fec600;
        color: #111111;
    }
    /* =================pricing part end================= */
    
    /* =================counter up part start================= */
    #counter_up {
        clip-path: polygon(0 7%, 100% 0, 100% 93%, 0 100%);
    }
    #counter_up::before {
        clip-path: polygon(0 7%, 100% 0, 100% 93%, 0 100%);
    }
    #counter_up .main {
        flex-wrap: wrap;
    }
    #counter_up .main {
        padding: 20px 0 20px 0;
    }
    #counter_up .main .item {
        clip-path: none;
        transform: none;
    }
    #counter_up .main .item:first-child {
        margin-top: 0px;
        padding: 12px 30px;
        margin-bottom: 15px;
    }
    #counter_up .main .item.margin_top_2 {
        margin-top: 0px;
        margin-bottom: 15px;
        padding: 12px 30px;
    }
    #counter_up .main .item.margin_top_2 h3 {
        font-size: 19px;
    }
    #counter_up .main .item.margin_top_3 {
        margin-top: 0px;
        margin-bottom: 15px;
        padding: 12px 30px;
    }
    #counter_up .main .item.margin_top_4 {
        margin-bottom: 15px;
	    margin-top: 0px;
        padding: 12px 30px;
    }
    #counter_up .main .item:last-child {
        margin-bottom: 15px;
        margin-top: 0px;
        padding: 12px 30px;
    }
    /* =================counter up part end================= */
    
    /* =================team part start================= */
    #team {
        margin-top: 40px;
    }
    #team .container .heading {
        width: 425px;
        margin-top: 30px;
    }
    #team .container .main {
        padding-bottom: 10px;
    }
    #team .container .img_text {
        margin-bottom: 80px;
    }
    #team .container .img_text:last-child {
        margin-bottom: 0px;
    }
    #team .container .image_border .img_text{
        border-bottom: transparent;
    }
    #team .container .img_text{
        border-bottom: transparent;
    }
    #team .container .img_text .img i{
        opacity: 0;
    }
    #team .container .image_border .img_text .img::before{
        opacity: 0;
    }
    #team .container .image_border .icon {
        opacity: 1;
        bottom: -50px;
    }
    #team .container .icon a i{
        background-color: rgba(254, 199, 0, 0.7);
        border: 1px solid rgba(254, 199, 0, 0.7);
        font-size: 18px;
        width: 30px;
        height: 30px;
        line-height: 30px;
    }
    /* =================team part end================= */
    
    /* =================footer part start================= */
    #footer {
        clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 100%);
    }
    #footer .footer_top {
        clip-path: polygon(0 7%, 100% 0, 100% 100%, 0 100%);
    }
    #footer .footer_top::before {
        transform: rotate(-2.7deg);
    }
    #footer .footer_top .container .heading .text i {
        margin: 30px 15px;
    }
    /* =================footer part end================= */   
}
@media (min-width: 992px) and (max-width: 1199.98px) {
    /* =================about part start================= */
    #about .container .row .round {
        width: 250px;
        height: 250px;
    }
    #about .container .row .img {
        width: 220px;
        height: 220px;
    }
    #about .container .row .text_1 .round_ball {
        bottom: -38px;
        width: 15px;
        height: 15px;
    }
    #about .container .row .text_2 .round_ball {
        right: -55px;
        width: 15px;
        height: 15px;
    }
    #about .container .row .text_3 .round_ball {
        left: -55px;
        width: 15px;
        height: 15px;
    }
    #about .container .row .text_4 .round_ball {
        top: -38px;
        width: 15px;
        height: 15px;
    }
    /* =================about part end================= */
    
    /* =================portfolio part start================= */
    #portfolio .container .heading {
        margin-top: 25px;
    }
    #portfolio .main{
        padding-bottom: 50px;
    }
    #portfolio .absolute_4 {
        top: -35px;
        left: 666px;
    }
    #portfolio .absolute_5{
        top: 0;
        right: 333px;
    }
    #portfolio .absolute_6{
        top: 0;
        right: 333px;
    }
    #portfolio .absolute_7 {
        top: 35px;
        left: 333px;
    }
    #portfolio .absolute_8 {
        top: -35px;
        right: 666px;
    }
    /* =================portfolio part end================= */
    
    /* =================counter up part start================= */
    #counter_up .main .item {
        clip-path: none;
        transform: skewX(-5%);
    }
    #counter_up .main .item:first-child {
        padding: 8px 15px;
        margin-bottom: 5px;
        margin-top: 38px;
        padding: 15px 15px;
    }
    #counter_up .main .item.margin_top_2 {
        margin-bottom: 15px;
        margin-top: 24px;
        margin-bottom: 17px;
        padding: 15px 15px;
    }
    #counter_up .main .item.margin_top_2 h3 {
        font-size: 19px;
    }
    #counter_up .main .item.margin_top_3 {
        margin-top: 8px;
        margin-bottom: 34px;
        padding: 15px 15px;
    }
    #counter_up .main .item.margin_top_4 {
        margin-bottom: 49px;
        margin-top: -7px;
        padding: 15px 15px;
    }
    #counter_up .main .item:last-child {
        margin-bottom: 63px;
        margin-top: -21px;
        padding: 15px 15px;
    }
    /* =================counter up part end================= */
    
    /* =================team up part start================= */
    #team{
        padding-bottom: 20px;
    }
    /* =================team up part end================= */
    
    /* =================footer up part start================= */
    #footer .footer_top::before {
        transform: rotate(-3.5deg);
    }
    #footer .footer_top .container .logo {
        margin-bottom: 20px;
    }
    /* =================footer up part end================= */
}
@media (min-width: 1200px) and (max-width: 1399.98px) {
    /* =================about up part start================= */
    #about .container .row .round {
        width: 345px;
        height: 345px;
    }
    #about .container .row .img {
        width: 310px;
        height: 310px;
    }
    #about .container .row .text_2 .round_ball {
        right: -40px;
    }
    #about .container .row .text_3 .round_ball {
        left: -40px;
    }
    /* =================about up part end================= */
    
    /* =================portfoilo up part start================= */
    #portfolio{
        padding-bottom: 120px;
    }
    /* =================portfoilo up part end================= */
    
    /* =================team up part start================= */
    #team{
        padding-bottom: 20px;
    }
    /* =================team up part end================= */
    
    /* =================footer up part start================= */
    #footer .footer_top::before {
        top: 142px;
        transform: rotate(-2.5deg);
    }
    #footer .footer_top .container .logo {
        margin-bottom: 10px;
    }
    /* =================footer up part end================= */
}
